<!doctype html>
<html>
<head>
  {% block head %}
  <title>HondaBox</title>
  <link rel="stylesheet" href="/static/style.css">
  <meta name="google-site-verification" content="e1WGKVNHw4_ClsUyUCH93NMtyV8nXeOisWkThafpxXc"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock head %}
</head>
<body>
  {% block header %}
  <h1><a href="/">HondaBox</a></h1>
  {% endblock header %}
  {% block content %}{% endblock %}
  {% block messages %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li><b><font color="white">{{ message }}</font></b></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% endblock %}
</body>
</html>
