<!doctype html>
<html>
<head>
  <title>HondaBox</title>
  <link rel="stylesheet" href="/static/style.css">
  <meta name="google-site-verification" content="e1WGKVNHw4_ClsUyUCH93NMtyV8nXeOisWkThafpxXc"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>HondaBox</h1>
<h2>Instructions</h2>

<p>This site makes it (somewhat) easy to move pictures from your phone or computer directly
to your Honda to use as background pictures for the screen. It appropriately scales
and crops any photo you provide based on your Honda model and makes it available
on a webpage only you can access. For more information and a demo of this in
action, see the instructions page: </p>

<ul>
<li><a href="instruct">Full instructions</a></li>
</ul>

<h2>Create backgrounds</h2>
<ul>
  <li><a href="upload">Upload your own images</a></li>
  <li><a href="box">Retrieve your processed images</a></li>
</ul>

<h2>Stock backgrounds</h2>
<p>A few free images scaled for Honda infotainment screens:</p>
<p><ul>
  <li><a href="data/static/nature">Nature</a></li>
  <li><a href="data/static/cities">Cities</a></li>
  <li><a href="data/static/colors">Colors</a></li>
</ul></p>

<h2>Feedback</h2>

<p>I originally created this website for my own use, but decided to make it
available publicly in case others might find it useful. I'm happy to hear about
any issues or suggestions for improvements, but can't guarantee I'll be able to
respond. You can reach me at <a
href="mailto:webmaster@hondabox.net">webmaster@hondabox.net</a>. </p>

<h2>Privacy Notice</h2>

<p>Any photo uploaded can only be accessed from the internet by providing the
  PIN you provided during upload. However, the files are not stored in encrypted
  form, and anybody who gains or has system priviledges on the server will be able
  to see the pictures. In other words, don't upload anything illegal or sensitive.
</p>

</body>
</html>
