<!doctype html>
<html>
<head>
  <title>Honda Box</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1>Honda Box</h1>
<h2>Instructions</h2>
<p>This site was created to make it easy to upload pictures of your own to your
Honda to use as background images. It appropriately scales and crops any photo
you upload provide based on your model and makes them available in a folder only
you can access. You can then download the pictures as a backgrounds for your
car's infotainment system via one of two ways:
</p>
<h3>Via USB stick</h3>
<p>Most Hondas with Android-based infotainment systems allow the user upload
background pictures via a USB stick. Download the processed images from this
website to your computer and then copy to a USB stick. Consult your car's user
manual for instructions on how to upload pictures from the USB stick to your
car.
</p>
<h3>Via in-car browser</h3>
<p>The easiest way may be to just download the pictures directly from the
internet onto your car's system. After uploading your picture you'll be given a
link where your background pictures can be downloaded directly from the car from
the in-car web browser.
</p>
<p>Didn't know your car had a web browser? Some Hondas come from the factory
with a browser enabled. On more recent models Honda has disabled the browser. If
you don't have access to a web browser, follow the instructions in the first
video below to bring it back. Your car may already have access to the internet,
either via the onboard cell connection or your phone. I recommend just enabling
the browser (via the first video) and seeing if you have a connection. If you
don't, then follow the instructions in the second video to connect to WiFi.
</p>
<ul>
  <li><a href="https://youtu.be/AFOUGcDcMeY" target="_blank">Enable browser in
Honda</a></li>
  <li><a href="https://youtu.be/4tw84bjbI8g" target="_blank">Honda WiFi
connection</a></li>
</ul>
<h2>Upload</h2>
<p>You can <a href="upload">upload your own images here</a>. They will be processed
and <a href="box">stored on the server</a> for you to download directly to your
car or computer.
</p>
<h2>Stock backgrounds</h2>
<p>A few free images suitable for use as a background:</p>
<p><ul>
  <li><a href="data/static/nature">Nature</a></li>
  <li><a href="data/static/cities">Cities</a></li>
  <li><a href="data/static/colors">Colors</a></li>
</ul></p>
</body>
</html>
