<!doctype html>
  <title>Honda Box</title>
  <h1>Honda Box</h1>
  <h2>Instructions</h2>
  <p>This site was created to make it easy to upload pictures of your own to
  your Honda to use as background images. It appropriately scales and crops
  any photo you provide, and then makes the new photo available on the internet
  so you can easily download it to your car using the build-in browser.</p>
  <p>Didn't know your car had a web browser?
  To access the browser from your car, follow the instructions in one of
  the following videos:</p>
  <p><a href="https://youtu.be/4tw84bjbI8g">Honda WiFi connection</a></p>
  <p><a href="https://youtu.be/AFOUGcDcMeY">Enable browser in Honda</a></p>
  <p>Please don't do any of this while driving, obviously. To my knowledge,
  none of this will void your warranty, as it is all available via the
  existing software and does not involve any hacking of the system itself.
  (This is NOT the Honda Hack you may have heard of.)
  Nonetheless, if you don't want to mess with any of this, you can
  just download the files created on this site and use a USB stick, per
  the instructions that came with your car.</p>
  <h2>Existing background images</h2>
  <p>A few free images suitable for use as a background</p>
  <p><ul>
    <li><a href="files/nature">Nature</a></li>
    <li><a href="files/cities">Cities</a></li>
    <li><a href="files/colors">Colors</a></li>
  </ul></p>
  <h2>Upload images</h2>
  You can <a href="upload">upload your own images</a>. They will be
  processed to fit the size and shape of the screen on your Honda and will be
  <a href="files">stored on the server</a> for you to download directly
  to your car later.
