<!doctype html>
<html>
<head>
  <title>HondaBox</title>
  <link rel="stylesheet" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1><a href="/">HondaBox</a></h1>

<h2>Instructions</h2>

<p>You can download your pictures to your car's
infotainment system via one of two ways: </p>

<h3>Method 1: In-car browser</h3>

<p>The easiest way is to just download the pictures directly from the
internet onto your car's system. After uploading your picture you'll be given a
link where your background pictures can be downloaded directly from the car from
the in-car web browser.</p>

<p>Some Hondas come from the factory with a browser enabled. On more recent
models, Honda has disabled the browser. If you don't have access to a web
browser (or don't know what I'm talking about at all here) follow the
instructions in the first video below to bring it back. Of course, you'll also
need internet access in the car. Surprisingly, your car may already have access
to the internet, via HondaLink. You can try just enabling the browser (via the
first video) and seeing if you have a connection. If you don't, then follow the
instructions in the third video to connect to WiFi.</p>

<ul>
  <li><a href="https://youtu.be/xkpTtK-w1bU" target="_blank">
    YouTube: Enable browser and links in Honda</a>
  </li>
  <li><a href="https://youtu.be/d3Wsl66fEBY" target="_blank">
    YouTube: Honda Box tutorial</a>
  </li>
  <li><a href="https://youtu.be/tVf-H2k_BXU" target="_blank">
    YouTube: Connect Honda to WiFi</a>
  </li>
</ul>

<p>I know this is a lot of setup, but once you've done it once, you never have
to do it again! You can create a bookmark on one of your home screens, and from
then on you don't have to go through any of the setup and will have a really
easy and quick way to move media from your phone or computer to your car from
then on. </p>

<h3>Method 2: USB stick</h3>

<p>Most Hondas with allow the user upload background pictures via a USB stick.
You can always download the processed images from this website to your computer
and then copy to a USB stick. Consult your car's user manual for instructions on
how to upload pictures from the USB stick to your car. Let me know if you need
help on this and I'll be happy to find a video (or make one) showing how to do
so.</p>

</body>
</html>
