<!doctype html>
<html>
<head>
  <title>Honda Box</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1><a href="/">Honda Box</a></h1>

<h2>Instructions</h2>

<p>You can download your pictures to your car's
infotainment system via one of two ways: </p>

<h3>Method 1: In-car browser</h3>

<p>The easiest way may be to just download the pictures directly from the
internet onto your car's system. After uploading your picture you'll be given a
link where your background pictures can be downloaded directly from the car from
the in-car web browser. </p>

<p>Some Hondas come from the factory with a browser enabled. On more recent
models, Honda has disabled the browser. If you don't have access to a web
browser, follow the instructions in the first video below to bring it back. Your
car may already have access to the internet, either via the onboard cell
connection or your phone. I recommend just enabling the browser (via the first
video) and seeing if you have a connection. If you don't, then follow the
instructions in the second video to connect to WiFi. </p>

<ul>
  <li><a href="https://youtu.be/AFOUGcDcMeY" target="_blank">
    YouTube: Enable browser in Honda</a></li>
  <li><a href="https://youtu.be/4tw84bjbI8g" target="_blank">
    YouTube: Honda WiFi connection</a></li>
</ul>

<p>I know this is a lot of setup, but once you've done it once, you can create a
bookmark on one of your home screens, and then always return to your private box
on the site. You'll then have a really easy and quick way to move media from
your phone or computer to your car. Here's another YouTube video from somebody
showing how to make bookmarks, if you have trouble:</p>

<ul>
  <li><a href="https://youtu.be/SPS8UFRc_6M" target="_blank">
    YouTube: Add links to Honda home screen</a></li>
</ul>

<h3>Method 2: USB stick</h3>

<p>Most Hondas with Android-based infotainment systems allow the user upload
background pictures via a USB stick. Download the processed images from this
website to your computer and then copy to a USB stick. Consult your car's user
manual for instructions on how to upload pictures from the USB stick to your
car. </p>

</body>
</html>
