<!doctype html>
<html>
<meta http-equiv="refresh" content="2">
<head>
  <title>HondaBox Stats</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>HondaBox</h1>
<h2>Usage Stats</h2>
<p>Main page hits: <b>{{mainloads}}</b></p>
<p>Upload page hits: <b>{{upload_gets}}</b></p>
<p>Uploads: <b>{{upload_goods}}</b> successes out of <b>{{upload_tries}}</b> attempts</p>
<p>Download page hits: <b>{{download_gets}}</b></p>
<p>Downloads: <b>{{download_goods}}</b> successes out of <b>{{download_tries}}</b> attempts</p>
<h2>Site Health</h2>
<p>Stats load heartbeat: <b>{{statreads}}</b></p>
<p>Site version: <b>1.2.3</b></p>
</body>
</html>
