<!doctype html>
<html>
<head>
<title>Upload success</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1><a href="/">HondaBox</a></h1>
<h2>Image uploaded</h2>
<p>Successfully uploaded and processed <b>{{ filename }}</b> as a
  <b>{{ car }}</b> background.
</p>
<p>Your files are available at
  <a href="{{ url }}">{{ url }}</a>
</p>
<p>Write your PIN down if you plan to download your backgrounds directly
  to your car via the in-car browser.
</p>
<p><a href="upload">Upload another file</a>
</p>
</body>
</html>
