<!doctype html>
<html>
<head>
  <title>Upload background picture</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1><a href="/">Honda Box</a></h1>
<h2>Create background image</h2>

<form method=post enctype=multipart/form-data>
  <p><b>User box:</b>
    <input type=text name=pin value={{ pin }}>
    Code used to retrieve your files later
  </p>
  <p><b>Picture:</b> <input type=file name=file></p>
  <p><b>Honda model:</b> <select name="model">
    {% for car in cars %}
    {% if car == thecar %}
    <option selected>{{ car }}</option>
    {% else %}
    <option>{{ car }}</option>
    {% endif %}
    {% endfor %}
  </select></p>
  <p><input type=submit value='Process File'></p>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <li><b><font color="red">{{ message }}</font></b></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
</body>
</html>
