<!doctype html>
  <title>Upload background picture</title>
  <h2>Image upload</h2>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <h2>Flash message test</h2>
  <p>This is a test of some junk.</p>

  <form method=post enctype=multipart/form-data>
    <p>User PIN:
    <input type=text name=pin></p>
    <p><input type=file name=file></p>
    <input type=submit value=Upload>
  </form>
