<!doctype html>
  <title>Upload background picture</title>
  <h2>Image upload</h2>

  <form method=post enctype=multipart/form-data>
    <p>User PIN:
    {% if 'pin' in session %}
      <input type=text name=pin value={{ session['pin'] }}>
    {% else %}
      <input type=text name=pin>
    {% endif %}
    </p>
    <p><input type=file name=file></p>
    <input type=submit value='Upload File'>
  </form>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li><font color="red">{{ message }}</font></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
